@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

nav {
  background-color: #25a55f;
  max-width: 100%;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  /* flex-grow: 1; */
  align-items: center;
  justify-content: center;
  gap: 7rem;
  box-shadow: 0 0 10px black;
  animation: slide-in 1s ease-out;
}

.nav-logo {
  position: flex;
  flex-grow: 0;
  max-width: 300px;
  min-width: 300px;
  /* margin-right: 200px;
  margin-left: 50px; */
}

.nav-links {
  flex-grow: 1;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.nav-links .link:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}

.sub-menu {
  position: absolute;
  color: #fff;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.link a {
  display: inline-block;
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 1px 1px gray;
}

.link a .ri-arrow-up-s-line {
  display: inline-block;
  transition: all 0.3s ease;
}

.nav-links .link:hover .ri-arrow-up-s-line {
  rotate: 180deg;
  transition: 0.3s;
}

/* .link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  transition: all 0.3s ease;
} */

/* .nav-links .link:hover a::after {
  width: 70%;
} */

.btn {
  padding: 10px 20px;
  border-radius: 5px;
}

section .header {
  margin-bottom: 1rem;
  color: #25a55f;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  background-color: #ddd;
}

.recipes {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.recipes .recipe-card {
  background-color: lightgray;
  /* width: 70%; */
  /* padding: 1rem; */
  /* border: 2px solid transparent; */
  border-radius: 15px;
  transition: all 0.3s ease;
}

.recipes .recipe-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.recipe-card span img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 1rem;
}

.recipe-card h4 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.75rem;
}

.recipe-card p {
  padding: .75rem;
  text-align: center;
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}